.camera {
    width: 320px;
    height: 240px;
    margin: 10px;
}

.camera img {
    width: 320px;
    height: 240px;
}
.alt-camera {
    width: 160px;
    height: 120px;
    margin: 10px;
}
.alt-camera img {
    width:160px;
    height: 120px;
}
.auto-option {
	height: 120px;
	display: block;
}
.auto-option label {
	padding-top: 40px;
}
.auto-option img {
	width:160px;
	height:120px;
}
.selected-option {
	background-color:red;
}
.btn-size {
    width: 100%;
    margin-top:10px;
}

.compass .windrose {
    position: absolute; 
    z-index: 1; 
}

.compass .arrow {
    position: absolute; 
    transform-origin: 50% 60%;
    z-index: 2;
}
.compass .display {
    position: absolute; 
    z-index: 2;
    top: 160px;
    left: 150px;
    width: 200px;
    height: 30px;
}
.compasssize {
	width: 160px;
	height: 200px;
	top: -9px;
}
.minibot {
	width: 75px;
	height: 100px;
}
.joystick {
	border:5px double blue;
	height: 550px;
}
.joystick img {
	height:450px;
	width:auto;
}
.btn-press {
	background-color:red;
}
.joystick-spacer {
	height: 40px;
}
.shooterarm {
	position:absolute;
	width:90%;
	top:150px;
}
#left_1_container {
	position: absolute;
	top:50px;
	left:310px;
}
#left_2_container {
	position: absolute;
	top:200px;
	left:421px;
	
}
#left_3_container {
	position: absolute;
	top: 80px;
    left: 200px;
}
#left_4_container {
	position: absolute;
	top: 120px;
}
#left_5_container {
	position: absolute;
	top: 120px;
    left: 421px;
}
#left_6_container {
	position: absolute;
	top:280px;
}
#left_7_container {
	position: absolute;
	top: 425px;
}
#left_8_container {
	position: absolute;
	    top: 530px;
}
#left_9_container {
	position: absolute;
	    top: 530px;
		left:421px;
}
#left_10_container {
	position: absolute;
	top:435px;
	left:421px;
}
#left_11_container {
	position: absolute;
	top:295px;
	left:421px;
}
#right_1_container {
	position: absolute;
	top:50px;
	left:310px;
}
#right_2_container {
	position: absolute;
	top:200px;
	left:421px;
	
}
#right_3_container {
	position: absolute;
	top: 80px;
    left: 200px;
}
#right_4_container {
	position: absolute;
	top: 120px;
}
#right_5_container {
	position: absolute;
	top: 120px;
    left: 421px;
}
#right_6_container {
	position: absolute;
	top:280px;
}
#right_7_container {
	position: absolute;
	top: 425px;
}
#right_8_container {
	position: absolute;
	    top: 530px;
}
#right_9_container {
	position: absolute;
	    top: 530px;
		left:421px;
}
#right_10_container {
	position: absolute;
	top:435px;
	left:421px;
}
#right_11_container {
	position: absolute;
	top:295px;
	left:421px;
}
