.camera {
    width: 500px;
    height: 374px;
    margin: 10px;
    text-align: left;
}

.camera img {
    width: 500px;
    height: 374px;
}

.camera .signal {
    position: absolute;
	width:500px;
	height:auto;
}

.alt-camera {
    width: 160px;
    height: 120px;
    margin: 10px;
}
.alt-camera img {
    width:160px;
    height: 120px;
}
.auto-option {
	text-align: left;
	height: 120px;
	display: block;
}
.auto-option label {
	padding-top: 40px;
}
.auto-option img {
	width:160px;
	height:120px;
}
.selected-option {
	color: white;
	background: linear-gradient(to right, #006666, #cc0066);
}
.btn-size {
    width: 100%;
    margin-top:10px;
}
.compass .windrose {
    position: absolute; 
    z-index: 1; 
}
.compass .arrow {
    position: absolute; 
    transform-origin: 50% 60%;
    z-index: 2;
}
.compass .display {
    position: absolute;
    z-index: 2;
    top: 160px;
    left: 150px;
    width: 200px;
    height: 30px;
}
.compasssize {
	width: 160px;
	height: 200px;
	top: -9px;
}
.minibot {
	width: 75px;
	height: 100px;
}
.joystick {
	border:solid #006666;
	border-radius: 5%;
	height: 550px;
}
.joystick img {
	height:450px;
	width:auto;
}
.btn-press {
	background-color:red;
}
.joystick-spacer {
	height: 40px;
}
.record-groups {
	width:80%;
	margin:0 auto;
}
.record-pane {
	margin: 0 auto;
	height:260px;
	border: solid #006666;
	border-radius: 10%;
}
.shooterarm {
	position:absolute;
	width:200px;
	height:auto;
	top:40px;
	
}
.spacer-div {
	width:100%;
	height:30px;
}

#left_1_container {
	position: absolute;
	top:4%;
	left:54%;
}
#left_2_container {
	position: absolute;
	top:25%;
	left:72%;
}
#left_3_container {
	position: absolute;
	top: 5%;
    left: 40%;
}
#left_4_container {
	position: absolute;
	top: 12%;
	left: 20%;
}
#left_5_container {
	position: absolute;
	top: 12%;
    left: 70%;
}
#left_6_container {
	position: absolute;
	top:40%;
	left:17%
}
#left_7_container {
	position: absolute;
	top: 62%;
	left:18%;
}
#left_8_container {
	position: absolute;
	    top: 90%;
		left:28%;
}
#left_9_container {
	position: absolute;
	    top: 90%;
		left:62%;
}
#left_10_container {
	position: absolute;
	top:66%;
	left:72%;
}
#left_11_container {
	position: absolute;
	top:42%;
	left:72%;
	
}
#right_1_container {
	position: absolute;
	top:5%;
	left:54%;
}
#right_2_container {
	position: absolute;
	top:25%;
	left:72%;
	
}
#right_3_container {
	position: absolute;
	top: 5%;
    left: 40%;
}
#right_4_container {
	position: absolute;
	top: 12%;
	left:20%;
	}
#right_5_container {
	position: absolute;
	top: 12%;
    left: 70%;
}
#right_6_container {
	position: absolute;
	top:40%;
	left:17%;
}
#right_7_container {
	position: absolute;
	top: 62%;
	left:18%
}
#right_8_container {
	position: absolute;
	    top: 90%;
		left:28%;
}
#right_9_container {
	position: absolute;
	    top: 90%;
		left:62%;
}
#right_10_container {
	position: absolute;
	top:66%;
	left:72%;
}
#right_11_container {
	position: absolute;
	top:42%;
	left:72%;
}
