.camera {
    width: 320px;
    height: 240px;
    margin: 10px;
}

.camera img {
    width: 320px;
    height: 240px;
}
.alt-camera {
    width: 160px;
    height: 120px;
    margin: 10px;
}
.alt-camera img {
    width:160px;
    height: 120px;
}
.auto-option {
	height: 120px;
	display: block;
}
.auto-option label {
	padding-top: 40px;
}
.auto-option img {
	width:160px;
	height:120px;
}
.selected-option {
	background-color:red;
}
.btn-size {
    width: 100%;
    margin-top:10px;
}

.compass .windrose {
    position: absolute; 
    z-index: 1; 
}

.compass .arrow {
    position: absolute; 
    transform-origin: 50% 57%;
    z-index: 2;
}
.compass .display {
    position: absolute; 
    z-index: 2;
    top: 250px;
    left: 150px;
    width: 200px;
    height: 30px;
}
.compasssize {
	width: 100px;
	height: 75px;
}
.minibot {
	width: 75px;
	height: 100px;
}

